body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #6D123F;
    background-color: #ffe3e6;
}
header{
    text-align: center;
    font-size: large;
    background: #F7838D;
}


nav{
    text-align: center;

}

h2{
    font-size: 3em;

}
h3{
    font-size: 2em;
}

.Smallpicture{
    width: min-content;
}




/* Table */
table{
    width: 50%;
}
th{
    text-align: left;
    background-color: #F7838D;
    color: #6D123F;
}
/* Table */



footer{
    background: #F7838D;
}