@font-face {
    font-family: 'AgrandirGH';
    src: url(Agrandir/Agrandir-Regular.otf);
}
@font-face {
    font-family: 'AgrandirBold';
    src: url(Agrandir/Agrandir-TextBold.otf);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #6D123F;
    background-color: #ffe3e6;
}
header{
    text-align: center;
    font-size: large;
    font-family: 'AgrandirGH', sans-serif;
}

.hellomi{
    position: relative;
    height:auto ;
    left:0px;
    width: 250px;
}
nav {
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    text-decoration: none;
    display: block;
    padding: 20px 176px;
    text-align: center;
    background-color: #F7838D;
    color: #6D123F;
    margin: 0;
    font-family: 'AgrandirGH';
  }
  nav a:hover {
    background-color: #6D123F;
    color: #ffe3e6;
  }

h2{
    font-size: 3em;
    font-family: 'AgrandirBold';

}
h3{
    font-size: 2em;
    font-family: 'AgrandirBold';
}


/* Table */
table{
    width: 50%;
}
th{
    text-align: left;
    background-color: #F7838D;
    color: #6D123F;
}
/* Table */



footer{
    background: #F7838D;
}

img{
    width: 40%;
}